<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'styles.css' %}">
<script src="https://kit.fontawesome.com/32d9f1bff7.js" crossorigin="anonymous"></script>
<title>Gravik Climate Solutions</title>
</head>
<body>
  <div class="navbar">
    <div class="menu-toggle" id="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <ul class="menu" id="menu">
        <li><a href="/main.html">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</div>
<header>
  <div class="container-about">
    <h1>About Us</h1>
    <p>Gravik Climate Solutions is a non-governmental not-for-profit organization that operates in
      Kenya. The organization’s goal is to be at the forefront in the fight against climate through our Programs.</p>
  </div>
</header>
<main>
  <div class="container-about">
    <section class="program-about">
      <h2>Climate Awareness program</h2>
      <p>
        ClimateSync is a feature that provides personalized climate change information based on the user's location and age. It offers localized climate data, age-appropriate educational content, and practical tips for reducing one's carbon footprint. The feature aims to make climate awareness a daily part of life by engaging and empowering its users with relevant and actionable insights.</p>
      <a href="#" class="button-about">Get Personally Curated Climate Data</a><br>
    </section>
    <section id="talent-drive">
      <h1>Talent Drive Program</h1>
      <p>At Gravik Climate Solutions, we believe in harnessing the power of innovative minds to tackle climate change. Our Talent Drive Program is designed to identify, support, and amplify the efforts of university students in Kenya who are passionate about developing sustainable solutions to reduce carbon emissions and combat climate change.</p> <br>
      
      <h2>What We Offer</h2>
      <ul>
          <li>Funding and Resources: Access to essential resources and funding to bring your climate solution ideas to life.</li>
          <li>Mentorship: Guidance from experts in the field to refine and implement your projects effectively.</li>
          <li>Platform for Impact: Opportunities to showcase your solutions to a broader audience, including stakeholders and potential investors.</li>
      </ul><br>

      <h2>Who Can Apply</h2>
      <p>University students in Kenya who are currently enrolled and have a project idea or interest in climate change solutions.</p>

      <p>Join us in our journey to create a greener, more sustainable future. Apply now to become a part of the Talent Drive Program and turn your innovative ideas into reality!</p>
      <a href="https://docs.google.com/forms/d/14FmTnMJGdRwtk08zn_iQy6eJHtVPHnxWsFxnLQAIpD0/edit" class="button-about">Apply For Funding Today !</a>
  </section>
    <section class="program-about">
      <h2>Waste Food Program</h2>
      <p>Gravik Climate Solutions invites you to participate in our innovative Food Waste Program, a pivotal initiative aimed at reducing methane emissions and contributing to environmental sustainability. This program is designed for individuals who are passionate about making a difference in their communities by managing and minimizing food waste.</p><br>

      <p>Join us in making a significant environmental impact by responsibly managing food waste and combating climate change.</p>


      <a href="https://docs.google.com/forms/d/1ScaGLOo8x3x3bCIIzpEXfLFDA08KWw8LqR-ip7UKUcc/edit" class="button-about">Volunteer</a>
    </section>
  </div>
</main>
<footer class="footer">
  <ul class="social-icon">
    <li class="social-icon__item"><a class="social-icon__link" href="https://x.com/gravikc?s=20">
        <ion-icon name="logo-twitter"></ion-icon>
        <i class="fa-brands fa-x-twitter"></i>
      </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="https://www.linkedin.com/company/gravik-climate-solutions/">
        <ion-icon name="logo-linkedin"></ion-icon>
        <i class="fa-brands fa-linkedin"></i>
      </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-facebook"></ion-icon>
          <i class="fa-brands fa-facebook"></i>
        </a></li>
  </ul>
  <ul class="menu-footer">
    <li class="menu__item"><a class="menu__link" href="/">Home</a></li>
    <li class="menu__item"><a class="menu__link" href="/about">About</a></li>
    <li class="menu__item"><a class="menu__link" href="/contact">Contact Us</a></li>
  </ul>
  <p>&copy;2024 Patrick Nderu | All Rights Reserved</p>
</footer>
<script src="{% static 'scripts.js' %}"></script>
</body>
</html>