<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'styles.css' %}">
<script src="https://kit.fontawesome.com/32d9f1bff7.js" crossorigin="anonymous"></script>
<title>Gravik Climate Solutions</title>
</head>
<body>
  <div class="navbar">
    <div class="menu-toggle" id="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <ul class="menu" id="menu">
        <li><a href="main.html">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</div>
<header>
  <div class="container-about">
    <h1>About Us</h1>
  </div>
</header>
<main>
  <div class="container-about">
    <section class="program-about">
      <h2>Climate Awareness Program</h2>
      <p>For the climate awareness program, approximately 70% of the country's population qualifies for assistance from the organization. Our client base is children and young people ranging from the ages of 5-35 who represent the next generation. This generation will face some tough periods in...</p>
      <a href="#" class="button-about">Get Personally Curated Climate Data</a>
    </section>
    <section class="program-about">
      <h2>Talent Drive Program</h2>
      <p>The talent drive program targets university students who come up with technology-based solutions to climate change but never get a voice or avenue to develop them into useful solutions.</p>
      <a href="#" class="button-about">Apply For Funding Today !</a>
    </section>
    <section class="program-about">
      <h2>Waste Food Program</h2>
      <p>Our third program focuses on urban families and households. As cities and towns become more crowded, so does the amount of food waste ending up in landfills, releasing harmful methane gas. We aim to collect this food waste before it reaches landfills and transform it into organic fertilizer through a process called composting...</p>
      <a href="#" class="button-about">Volunteer</a>
    </section>
  </div>
</main>
<footer class="footer">
  <ul class="social-icon">
    <li class="social-icon__item"><a class="social-icon__link" href="https://x.com/gravikc?s=20">
        <ion-icon name="logo-twitter"></ion-icon>
        <i class="fa-brands fa-x-twitter"></i>
      </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="https://www.linkedin.com/company/gravik-climate-solutions/">
        <ion-icon name="logo-linkedin"></ion-icon>
        <i class="fa-brands fa-linkedin"></i>
      </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-facebook"></ion-icon>
          <i class="fa-brands fa-facebook"></i>
        </a></li>
  </ul>
  <ul class="menu-footer">
    <li class="menu__item"><a class="menu__link" href="/home">Home</a></li>
    <li class="menu__item"><a class="menu__link" href="/about">About</a></li>
    <li class="menu__item"><a class="menu__link" href="/contact">Contact Us</a></li>
  </ul>
  <p>&copy;2023 Patrick Nderu | All Rights Reserved</p>
</footer>
<script src="{% static 'scripts.js' %}"></script>
</body>
</html>