<!-- {% load static %} -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    <script src="https://kit.fontawesome.com/32d9f1bff7.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="navbar">
        <div class="menu-toggle" id="menu-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul class="menu" id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="https://www.mchanga.africa/fundraiser/80943#donatenow">Donate</a></li>
        </ul>
    </div>

    <div class="container">
        <span class="big-circle"></span>
        <!-- <img src="img/shape.png" class="square" alt="" /> -->
        <div class="form">
          <div class="contact-info">
            <h3 class="title">Get in touch with Us</h3>
            <p class="text">
              Got something on your mind? We'd love to hear from you! Reach out today, and let's talk partnerships, change and impact.
            </p>
  
            <div class="info">
              <div class="information">
                <img src="{% static 'assets/location.png' %}" class="icon" alt="location-icon" />
                <p>Nairobi, Kenya.</p>
              </div>
              <div class="information">
                <img src="{% static 'assets/mail.png' %}" class="icon" alt="mail-icon" />
                <p>gravikclimatesolutions@gmail.com</p>
              </div>
              <div class="information">
                <img src="{% static 'assets/call.png' %}" class="icon" alt="phone-icon" />
                <p>+254703223308</p>
              </div>
            </div>
  
            <div class="social-media">
              <p>Connect with us :</p>
              <div class=social-icons>
                <a href="https://x.com/gravikc?s=20"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.linkedin.com/company/gravik-climate-solutions/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
              </div>
            </div>
          </div>
  
          <div class="contact-form">
            <span class="circle one"></span>
            <span class="circle two"></span>
            
            
            <form method="post">
              <h3 class="title">Get in touch!</h3>
              {% csrf_token %}
              <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Name:</label>
                {{ form.name }}
            </div>
            <div class="form-group">
              <label for="{{ form.email.id_for_label }}">Email:</label>
              {{ form.email }}
          </div>
          <div class="form-group">
            <label for="{{ form.phone.id_for_label }}">Phone:</label>
            {{ form.phone }}
        </div>
        <div class="form-group">
          <label for="{{ form.message.id_for_label }}">Message:</label>
          {{ form.message }}
      </div>
              <!-- {{form.as_ul}} -->
              <!-- <div class="input-container">
                <input type="name" id="name"  name="name" placeholder="Name" required class="input" />
                <label for="name" ></label> 
                <span>Username</span>
              </div>
              <div class="input-container">
                <input type="email" id="email" name="email" placeholder="Email" required class="input" />
                <label for="email"></label>
                <span>Email</span>
              </div>
              <div class="input-container">
                <input type="tel" id="phone" name="phone" placeholder="Phone" required class="input" />
                <label for="phone"></label>
                <span>Phone</span>
              </div>
              <div class="input-container textarea">
                <textarea name="message" id="message" placeholder="Message" required class="input"></textarea>
                <label for="message"></label>
                <span>Message</span>
              </div>  -->
                <div class="form-actions">
                  <input type="submit" value="Submit" class="btn" /> 
              </div>
            </form>
          </div>
        </div>
      </div>

    <footer class="footer">
        <footer class="footer">
            <ul class="social-icon">
              <li class="social-icon__item"><a class="social-icon__link" href="https://x.com/gravikc?s=20">
                  <ion-icon name="logo-twitter"></ion-icon>
                  <i class="fa-brands fa-x-twitter"></i>
                </a></li>
              <li class="social-icon__item"><a class="social-icon__link" href="https://www.linkedin.com/company/gravik-climate-solutions/">
                  <ion-icon name="logo-linkedin"></ion-icon>
                  <i class="fa-brands fa-linkedin"></i>
                </a></li>
                <li class="social-icon__item"><a class="social-icon__link" href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                    <i class="fa-brands fa-facebook"></i>
                  </a></li>
            </ul>
            <ul class="menu-footer">

              <li class="menu__item"><a class="menu__link" href="/">Home</a></li>
              <li class="menu__item"><a class="menu__link" href="/about">About</a></li>
              <li class="menu__item"><a class="menu__link" href="/contact">Contact Us</a></li>

                <li class="menu__item"><a class="menu__link" href="/">Home</a></li>
                <li class="menu__item"><a class="menu__link" href="/about">About</a></li>
                <li class="menu__item"><a class="menu__link" href="/contact">Contact Us</a></li>
                <li class="menu__item"><a class="menu__link" href="https://www.mchanga.africa/fundraiser/80943#donatenow">Donate</a></li>

            </ul>
            <p>&copy;2024 Patrick Nderu | All Rights Reserved</p>
    </footer>
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>


  